@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
        
    <div class="contenedor1">
        <img src="../img/Carro.png">
    </div>
    <div class="contenedor2">
    <h2>MASCOTA FELIZ</h2>
    <p class ="p1">Nunca el registro de tu mascota será tan divertido,
     puedes agregar el nombre, fecha de nacimiento y el tipo de raza de tu mascota,
     así antes de ir a consulta el médico veterinario que atenderá a tu amigo ideal no tendrá que preguntar mucho por el nombre, porque ya lo tendrá en su base.</p>
    </div>
